.header
  .header__box
    .header__box__production
      = link_to "Production",root_path,class:"header__box__production__letter"
    .header__box__introduction
      = link_to "About",about_posts_path,class:"header__box__about__letter"
