.header
  .header__box
    .header__box__production
      = link_to "Production",root_path,class:"header__box__production__letter"
    .header__box__introduction
      = link_to "Introduction",root_path,class:"header__box__introduction__letter"
