.header
  .header__box
    .header__box__portfolio
      = link_to "Portfolio",root_path,class:"header__box__portfolio__letter"
    .header__box__introduction
      = link_to "About",about_posts_path,class:"header__box__about__letter"
