= render "header"
.about
  .about__top
    .about__top__up
      About
    .about__top__down
  .about__main
    .about__main__text
      %h1.about__main__text__title
        プロフィール
      .about__main__text__letter
        %p 名前：辻野 滋大（つじの しげひろ）<br>
        %p 年齢：27歳<br>
        %p 出身：大阪府<br>
        <br>
      %h1.about__main__text__title
        職歴：
      .about__main__text__letter
        %p 2015.04.01：<br>
        %p 新日本製鐵株式会社　入社<br>
        %p 2015.04.01〜2018.09.30：<br>
        %p 生産技術担当として、工場内の安定可動に努めておりました。<br>
        %p 2018.10.01〜2020.02.29：
        %p 設計担当として、電車部品の設計•開発に努めておりました。<br>
        %p 2020.02.29：<br>
        %p 新日本製鐵株式会社　退社<br>
        <br>
      %h1.about__main__text__title
        エンジニアを目指した経緯
      .about__main__text__letter
        %p 前職で働いている中で設備•製品•レイアウト図面の管理方法がシステム化されました。<br>
        %p システム化によって手作業で行っていた仕事が自動化となり、手作業によるミスや社内で問題となっていた残業問題が抑制されました。<br>
        %p この時、システム化の凄さに感銘を受け、自分もこのような力を付け人の役に立ちたいと思い、転職を考えました。<br>
        <br>
      %h1.about__main__text__title
        学習歴
      .about__main__text__letter
        %p プログラミングスクールに3ヶ月ほど通いました。<br>
        %p HTML(Haml)、CSS(Sass)、Ruby、Rails、JavaScript、Git、GitHubについて学び初歩的なことは時間をかけながらも出来るようになりました。<br>
        <br>
      %h1.about__main__text__title
        その他
      .about__main__text__letter
        %P 日々学んでいることを定期的にはてなブログにてアウトプットしております。
        =link_to "はてなブログリンク","https://shige1000.hatenadiary.com/", class:"about__main__text__letter__link" 
        <br>