= render "header"
.index
  .index__top
    .index__top__up
      Production
    .index__top__down
  .index__main
    .index__main__photo
      .index__main__photo__box1
        =link_to "https://memoapp1000.herokuapp.com/", class:"memoapp-link",id:"memoapp-link",onmouseover:"mouseover1();",onmouseout:"mouseout1();" do
          = image_tag('memoapplogo.png',class:"memoapp-photo")
      .index__main__photo__box2
        =link_to "http://18.180.203.124/", class:"mygame-link",id:"mygame-link",onmouseover:"mouseover2();",onmouseout:"mouseout2();" do
          = image_tag('mygamelogo.png',class:"mygame-photo")    

= render "footer"

:javascript
  function mouseover1(){
    document.getElementById("footer__box").innerHTML = 
        '<div class="footer__box__left" id="footer__box__left">' +
          '<img src="images/memoapp.png" alt="サンプル画像" class="footer__box__left">' +
        '</div>' +
        '<div class="footer__box__right" id="footer__box__right">' +
          '<p class="footer__box__right">メモアプリ：<br>日々の予定を管理できればと思い作成しました。<br>ログイン後、トップページに登録した予定のデータが一覧表示されます。<br>オレンジ色のボタンでユーザー情報の編集、青色のボタンで予定の編集を行うことができます。<br></p>' +
        '</div>' 
  }
  function mouseout1(){
    document.getElementById("footer__box").innerHTML = 
        '<div class="footer__box__left" id="footer__box__left">' +
        '</div>' +
        '<div class="footer__box__right" id="footer__box__right">' +
        '</div>' 
  }

  function mouseover2(){
    document.getElementById("footer__box").innerHTML = 
        '<div class="footer__box__left" id="footer__box__left">' +
          '<img src="images/mygame.png" alt="サンプル画像" class="footer__box__left">' +
        '</div>' +
        '<div class="footer__box__right" id="footer__box__right">' +
          '<p class="footer__box__right">ミニゲームアプリ：<br>未経験から勉強していく中で、JSを活用すると簡単なゲームを作成できることを知り、知人にシステム関係の勉強をすると短期間でもこような事が出来るよと身近に感じて欲しく、楽しく遊べるゲームアプリを作成してみたいと思い制作しました。 <br>ゲーム一覧画面でゲームを選択するとプレイする事ができます。<br></p>' +
        '</div>' 
  }

  
