@media screen and (min-width:0px)  and ( max-width:800px){
  // 幅が小さい
  .footer{
    height: 250px;
    position: fixed;
    width: 100%;
    background-color: rgba(93, 216, 253, 0.4);
    bottom: 0;
    &__box{
      max-width: 700px;
      word-wrap: break-word;
      margin: 0 auto;
      &__left{
        width: 0px;
        height: 0px;
      }
      &__right{
        width: 100%;
        padding: 10px;
        font-size: 19px;
        font-family: 'Osaka-Mono';
        letter-spacing: 0.05em;
        line-height: 24px;
        word-wrap: break-word;
      }
    }
  }
}

@media screen and (min-width:800px){ 
// 幅が大きい時
  .footer{
    min-width: 800px;
    height: 330px;
    position: fixed;
    width: 100%;
    background-color: rgba(93, 216, 253, 0.4);
    bottom: 0;
    &__box{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1000px;
      margin-top: 20px;
      &__left{
        width: 450px;
        height: 290px;
        margin-right: 60px;
      }
      &__right{
        width: 450px;
        height: 290px;
        font-size: 19px;
        font-family: 'Osaka-Mono';
        letter-spacing: 0.05em;
        line-height: 24px;
      }
    }
  }
}