@media screen and (min-width:0px)  and ( max-width:800px){
  // 幅が小さい
}

@media screen and (min-width:800px){
  // 幅が大きい
}

.header{
padding:25px;
background-color: rgba(255, 255, 255, 0.7);
position: fixed;
width: 100%;
display: flex;
justify-content: center;
&__box{
  min-width: 800px;
  font-family:'Times New Roman';
  font-size: 20px;
  display: flex;
  justify-content: center;
    &__portfolio{
      margin-right: 30px;
      &__letter{
        text-decoration: none;
        color: black;
      }
    }
    &__about{
      &__letter{
        text-decoration: none;
        color: black;
      }
    }
  }
}

