@media screen and (min-width:0px){ 
 .header{
    min-width: 800px;
    padding:40px;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    &__box{
      font-size: 30px;
      min-width: 800px;
    }
  }
}

@media screen and (min-width:800px){ 
  .header{
     min-width: 800px;
     padding:40px;
     background-color: rgba(255, 255, 255, 0.7);
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 0 auto; 
     &__box{
       font-size: 30px;
       min-width: 800px;
     }
   }
 }