.header{
  min-width: 800px;
  padding:40px;
  background-color: red;
  position: fixed;
  // height: 100px;
  width: 100%;
  &__box{
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}